<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WebSharper" version="2.5.125.62" targetFramework="net40" />
  <package id="WebSharper.CodeMirror" version="2.5.85.180" targetFramework="net40" />
  <package id="WebSharper.Piglets" version="0.1.96.155" targetFramework="net40" />
  <package id="WebSharper.PouchDB" version="2.5.1.1" targetFramework="net40" />
</packages>